*.lso
*.cmd_log
*.spl
*.xreport
*.jhd
*.prj
*.stx
*.gise
*.html
*.schlog
*.xst
*.vho
*.xmsgs
*.ref
*.bld
*.chk
*.cxt
*.gyd
*.log
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.rpt
*.syr
*.tim
*.tspec
*.vhf
*.vm6
*.xml
*.js
*.htm
*.tmp
*.gif
*.css
*.xrpt
*.csv
*.dat
*.phd
*.err
*.xbcd
*.lst
*.projectmgr
*.cmd
*.symlog
*.txt
*.ipf
*.cmd_log
*_xdb
*.bin
*.mod
*.data
*.jed
*.blx
sch2HdlBatchFile
main_html
_xmsgs
_ngo
xst
iseconfig
!release/*.txt
xc3sprog